/* fonticon moon  */


/* fonticon moon  End*/
/* custom variables */
:root {

    --anim-cubic: cubic-bezier(0.47, -1.08, 0.57, 2.5);
    --anim-cubic2: cubic-bezier(0.58, -0.23, 0.42, 1.29);
    --gradient-lin: linear-gradient(0deg, rgba(16, 202, 183, 1) 0%, rgba(16, 202, 183, 1) 50%, rgba(255, 174, 0, 1) 50%, rgba(255, 174, 0, 1) 100%);
    --gradient-rad: radial-gradient(circle, rgba(16, 202, 183, 1) 0%, rgba(16, 202, 183, 1) 50%, rgba(255, 174, 0, 1) 50%, rgba(255, 174, 0, 1) 100%);
    --main-color: #10cab7;
    --hover-color: #2fffff;
    --scondry-col: #ffae00;
    --bg-menues-col: #31313186;
    --compon-col: #d4d4d4;
    --txt-shadow: .009em .008em .02em rgb(1, 43, 43),
        -.01em -.01em .01em #ffffff;
}

/*start my framework */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center-colum {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.flex-center-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.flex-bet {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*end my framework */

/* Global rules */
/* start my component  */
.component-h2 {
    font-size: 10vw;
    display: block;
    margin: 0;
    text-align: center;
    font-weight: 800;
    color: var(--compon-col);

}

.anim-hov:hover {
    transform: translateY(-.5vw);
    font-size: 2rem;
}



/* end my component  */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: all .2s ease-in;
}

body {

    background-color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-family: 'Tajawal', sans-serif;
    font-family: 'Work Sans', sans-serif;
    font-family: 'Cairo', sans-serif;
}

.container {

    transition: all .3s ease-out;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-around;

}



/* End Global rules */
/* ***************************************** */
/* start heading  */
.header {
    padding: 0;

}


.icon-capo.logo {
    font-size: 150px;
    color: var(--main-color);
    margin-left: -10px;
    transition: .3S var(--anim-cubic);
}


.container .shaps {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    width: max-content;
    justify-content: center;
    align-content: center;
    width: 450px;

}

.container .divs1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 15vw;
}

.container .divs2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 15vw;
}


.skew-righ {

    width: .3vw;
    margin: 0 5px;
    height: 3vw;
    background-color: var(--main-color);
    transform: skewX(20deg);
    transition: .3s ease-in-out;
}

.skew-left {

    width: .3vw;
    margin: 0 5px;
    height: 3vw;
    background-color: var(--scondry-col);
    transform: skewX(-20deg);
    transition: .3s ease-in-out;
}

.skew-righ:hover {
    height: 2vw;
}

.skew-left:hover {
    height: 2vw;
}

.header .links {
    position: relative;
}

.header .links .icon {
    display: flex;
    flex-flow: wrap;
    width: 70px;
    justify-content: end;

}

.header .links .icon span {
    background-color: var(--main-color);
    height: 8px;
    margin-bottom: 15px;
    width: 100%;
    border-radius: 10px;

}

.header .links .icon span:nth-child(2) {
    width: 80%;
    transition: .4s var(--anim-cubic);
}

.header .links .icon span:last-child {
    margin-bottom: 0px;
}

.header .links:hover span:nth-child(2) {
    width: 100%;
    background: var(--scondry-col);
}

.header .links ul {

    position: absolute;
    right: 0px;
    margin: 0px;
    background-color: var(--bg-menues-col);
    padding: 0px;
    top: calc(100% + 20px);
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    transition: all 1s var(--anim-cubic);
    z-index: 1;
    display: none;


}

.header .links:hover ul {
    display: block;
}

.header .links ul li {
    list-style: none;
    font-size: 30px;
    letter-spacing: 5px;
    min-width: 250px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.header .links ul li a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: var(--main-color);
    transition: .6s var(--anim-cubic);
}

.header .links ul li a:hover {
    padding-left: 35px;
    color: rgb(47, 255, 255);
}

.header .links ul li:not(:last-child) {
    border-bottom: solid 2px rgb(255, 255, 255);
}

.header .links ul::before {
    content: "";
    border: 30px solid;
    position: absolute;
    border-color: transparent transparent var(--bg-menues-col) transparent;
    right: 0px;
    top: -60px;

}

.header .links ul li {
    position: relative;
}

.header .links ul li a::before {
    content: "";
    display: block;
    position: absolute;
    background-color: orange;
    width: 5px;
    height: 50%;
    left: 6px;
    top: 25%;
    border-radius: 10px;

}

/* End heading  */
/* start landing page  */
.landing {

    box-shadow:
        inset 0px 8px 0px var(--main-color),
        inset 0px 12px 10px rgba(0, 0, 0, 0.423),
        inset 0px 20px 0px var(--scondry-col),
        inset 0px 100px 300px rgb(0, 0, 0);
    height: 120vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    perspective: 400px;
}

/* backgeround-img animation start*/
.landing .img {
    position: absolute;
    height: 100%;
    z-index: 1;
    background-size: cover;
    animation: alternate-reverse ease-in-out 40s scal infinite;
}

@keyframes scal {
    to {
        transform: scale(1.5) rotate(3deg);
    }
}

/* backgeround-img animation end*/
/* start animation icons  */

.anim-gost {
    position: absolute;
    perspective: 300px;
    z-index: 2;
}

.icon-node-dot-js {
    animation: nod 63s alternate-reverse infinite ease-in-out;
    position: absolute;
}

@keyframes nod {
    60% {
        transform: translate(-650px, 400px) rotate(1turn) scale(3);
    }

    100% {
        transform: translate(400px, -600px) rotate(-360deg);
    }

}

.icon-html5 {
    animation: htm 80s alternate-reverse infinite ease-in-out;
    position: absolute;
}

@keyframes htm {
    40% {
        transform: translate(-700px, -400px) rotate(1turn) scale(.8);
    }

    100% {
        transform: translate(500px, 600px) rotate(-300deg) scale(3);
    }

}

.icon-css3 {
    animation: css 65s alternate-reverse infinite ease-in-out;
    position: absolute;
}

@keyframes css {
    40% {
        transform: translate(-400px, -900px) rotate(1turn) scale(.8);
    }

    100% {
        transform: translate(-800px, 600px) rotate(-360deg) scale(3);
    }

}

.icon-sass {
    animation: sas 53s alternate-reverse infinite ease-in-out;
    position: absolute;
}

@keyframes sas {
    60% {
        transform: translate(-950px, 100px) rotate(1turn) scale(4);
    }

    100% {
        transform: translate(-300px, -800px) rotate(-360deg) scale(.6);
    }

}

.icon-vue-dot-js {
    animation: veu 76s alternate-reverse infinite ease-in-out;
    position: absolute;
}

@keyframes veu {
    40% {
        transform: translate(-1100px, -600px) rotate(1turn) scale(1.5);
    }


    70% {
        transform: translate(800px, 300px) rotate(-360deg) scale(4);
    }

    100% {
        transform: translate(300px, -300px) rotate(360deg) scale(2);
    }

}



.anim-goost2 {

    position: absolute;
    perspective: 300px;
    top: 40%;
    color: rgba(31, 31, 31, 0.177);
    left: 78%;
    background-image: var(--gradient-lin);
    border-radius: 42px;
    border-top-right-radius: 42px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border: .3vw solid white;
    animation: ghost0 alternate-reverse 15s infinite ease-in-out;
    z-index: 2;
}

.anim-goost3 {

    position: absolute;
    perspective: 300px;
    top: 40%;
    color: rgba(31, 31, 31, 0.177);
    left: 12%;
    background-image: var(--gradient-lin);
    border-radius: 42px;
    border-top-right-radius: 42px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border: .3vw solid white;
    animation: ghost0 alternate 15s infinite ease-in-out;
    z-index: 2;
}

@media (min-width:768px) {

    .anim-goost3, .anim-goost2 {
        border: 2px solid white;
    }
}




@keyframes ghost0 {

    100% {
        transform: translateY(300px);
    }
}

/* end animation icons  */
h1 {

    display: block;
    font-size: 4vw;
    text-align: center;
    font-weight: 900;
    color: var(--scondry-col);
    font-family: 'Roboto', sans-serif;
    top: 50%;
    letter-spacing: 2px;
    text-shadow: var(--txt-shadow);
    background: var(--bg-menues-col);
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 0 3vw 3vw;
    z-index: 2;
}

.my-name {
    color: var(--main-color);
    font-size: 4rem;
    text-shadow: var(--txt-shadow);
    flex-wrap: wrap;
    margin: 20px 30px;

}

.my-name+span {
    display: block;
    border-bottom: var(--main-color) double 2vw;
}

.landing h1+p {
    text-align: center;
    line-height: 2;
    color: var(--compon-col);
    font-size: 1.2rem;
    font-weight: 400;
    border: var(--scondry-col) dashed .2vw;
    background: var(--bg-menues-col);
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 10px 10px;
    min-width: 200px;
    max-width: 800px;
    z-index: 2;
}

.landing.flex-center>.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* End landing page  .**************************************/

/* start feature page  */
.feature {
    padding: 60px 0;
}

.feature .container .feat {
    flex-direction: column;
    justify-content: space-evenly;
    width: 300px;
    text-align: center;
}

.fab {
    font-size: 5rem;
    color: var(--main-color);
    transition: all .3s var(--anim-cubic);
}

.fab:hover {
    font-size: 6rem;
    margin-top: -1rem;
    color: var(--hover-color);
}

.feature .container .feat h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    color: #333;
}

.container .feat p {
    font-family: 'Tajawal', sans-serif;
    color: #888;
    line-height: 1.8;
}

/* end feature page  */
/* start services */
.services {
    margin: 60px 0;
}

.services p {
    font-size: 1.5vw;

    color: rgb(99, 99, 99);
    margin-top: -100px;
    text-align: center;
}

.services .container {}

.stand {
    background-color: var(--scondry-col);
    width: 20vw;
    height: 8px;
    margin-top: -1vw;
    margin-bottom: 2vw;
    border-radius: 20px;
    position: relative;
}

.stand:nth-child(2) {
    width: 17vw;
    background: var(--scondry-col);
}

.stand:nth-child(3) {
    width: 14vw;
}

.stand:nth-child(4) {
    width: 11vw;
    background: var(--scondry-col);
}

.stand:nth-child(5) {
    width: 8vw;
}

.stand:nth-child(6) {
    width: 0;
}

.stand:nth-child(6):after {
    content: '';
    position: absolute;
    border: solid 3vw;
    border-color: var(--scondry-col) transparent transparent;
    left: -3vw;
}

.serv-card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    margin-top: 60px;
    justify-items: center;
    gap: 60px 10px;
    position: relative;
}

.serv-card h4 {
    color: #333;
    margin-top: 0;
    margin-bottom: 6px;
    margin-left: 5px;
    font-size: 5vw;
}

[class^="card"] {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    flex-direction: row;
}

.serv-card h4+p {
    margin-top: 0;
    color: #888;
    font-size: 4vw;
    text-align: start;
    width: 90%;
}


.card-col3 .image {
    position: relative;
    margin-bottom: 60px;
}

.card-col3 {
    display: flex;
    flex-flow: row wrap;
    margin-top: 24px;
    align-content: center;
    flex-direction: column;
    align-items: center;


}

.any-card {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: space-around;
    justify-content: center;
}

.card-col3 .image img {
    position: relative;
    width: 280px;
}

.card-col3 .image::after {
    content: '';
    width: 50%;
    position: absolute;
    height: 115%;
    top: -7.5%;
    right: -10%;
    background: var(--main-color);
    z-index: -1;
}

.card-col3 .image::before {
    content: '';
    width: 50%;
    position: absolute;
    height: 115%;
    top: -7.5%;
    left: -10%;
    background: var(--scondry-col);
    z-index: -1;
}

.card-col3 p {
    color: var(--scondry-col);
    position: absolute;
    font-size: xx-large;
    font-weight: 800;
    text-shadow: -0.1vw -0.1vw 0.05vw rgb(255 255 255), 0.04vw 0.1vw 0.05vw rgb(111 111 111);
    position: absolute;
    top: 10%;
    text-align: start;
    font-family: monospace;
    padding: 0 0;
    margin: 0;
    width: 70%;
    margin-bottom: 60px;
}

[class^="port-col"] .image {
    width: 100%;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
}

[class^="port-col"] .text {
    margin-top: 30px;
    flex-basis: auto;
    display: flex;
    margin-bottom: 0;
    padding-bottom: 0;
    flex-flow: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 30px 10px;
}

.text p {
    color: #666;


}

/* end services */
/* ************************************************************ */
/* start portfolio*/
.portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
    text-align: center;
}

.port-card {
    margin: 60px 0;
    padding: 60px auto;
    justify-content: center;
}

/* end portfolio */
/* start about  */
.about {
    padding: 0 0 60px;
}

.about-content {
    display: flex;
    flex-flow: wrap row;
    padding: 60px 0;
    padding-bottom: 60px;
    justify-content: space-between;
}

.about .about-image {
    width: 250px;
    height: 375px;
    position: relative;
}

.about .about-image img {
    max-width: 100%;
}

.about-image::after {
    content: '';
    position: absolute;
    background-color: var(--scondry-col);
    width: 50%;
    height: 120%;
    left: -50px;
    z-index: -1;
    top: -10%;
}

.about-image::before {
    content: "";
    position: absolute;
    height: 200px;
    width: 50px;
    border: var(--main-color) solid 80px;
    border-top-right-radius: 190px;
    border-bottom-right-radius: 190px;
    z-index: -1;
    left: 200px;
    top: -40px
}


.about-content .text {
    flex-basis: calc(100% - 450px);
}

.about-content .text p {
    line-height: 2;

}

.about-content .text p:first-of-type {
    font-weight: 700;
    max-width: 95%;
}

.about-content .text p:last-of-type {
    font-weight: 300;
    max-width: 75%;
    margin-bottom: 0;
}

.about-content .text hr {
    border: var(--main-color) solid 1px;
    display: inline-block;
    width: 50%;
}

hr {
    border: var(--main-color) solid 1px;
}

@media (max-width:992px) {

    .about-image::after,
    .about-image::before {
        display: none;
    }

    .about-content {
        flex-flow: column;
        align-items: center;
        align-content: space-between;

    }

    .about .about-image {
        margin-bottom: 40px;
        flex: 1;
        min-width: 95%;
    }

    .about-content .text {
        width: 95%;
    }
}

/* End  about  ...........................*/
/* footer start  */
footer {
    display: block;
    text-align: center;
    padding: 30px 0;
    background: var(--main-color);
    font-size: 22px;
    color: white;
}

footer span {
    animation: anim-color 20s alternate infinite;

}

@keyframes anim-color {

    20% {
        color: var(--hover-color);
    }

    50% {
        color: var(--scondry-col);
    }

    80% {
        color: rgb(0, 0, 0)
    }

    82% {
        color: rgb(255, 255, 255)
    }

    82% {
        color: rgb(255, 255, 255)
    }

    82% {
        color: var(--scondry-col)
    }

    85% {
        color: var(--scondry-col)
    }

    87% {
        color: black
    }

    89% {
        color: black
    }

    91% {
        color: var(--hover-color)
    }

    93% {
        color: var(--hover-color)
    }

    96% {
        color: black
    }

    98% {
        color: black
    }
}

/* footer End */
/* chat box start  */
.chat-box {
    position: fixed;
    bottom: 10px;
    right: 10px;
    min-width: 250px;
    max-width: 350px;
    background: #ffae00c7;
    height: 85px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    text-shadow: var(--txt-shadow);
    transition: transform .01s ease-out;
    bottom: 90px;
}

.chat {
    color: #fff;
    text-shadow: .09em .04em .1em rgb(135, 66, 0);
    text-transform: uppercase;
    font-weight: 100;
    margin-top: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;

}

.chat-box:hover .chat {
    transform: scale(1.3);
    color: rgb(255, 207, 75);
}

.indicator {
    position: fixed;
    bottom: 100px;
    right: 38px;
    width: 30px;
    height: 30px;
    transform: rotate(.37turn);
    z-index: 1;
}

.indicator2 {
    position: fixed;
    bottom: 100px;
    right: 200px;
    width: 30px;
    height: 30px;
    transform: rotate(.87turn);
    z-index: 1;
}

.arro {
    position: inherit;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: none;
    border-radius: 8px;
    border-bottom: 2px solid #fff;
    border-right: 1px solid #fff;
    animation: animate 2s ease-in;
    animation-iteration-count: infinite;
}

.arro:nth-child(1) {
    top: -15px;
    left: -15px;
    animation-delay: .0s;
}

.arro:nth-child(2) {
    top: -7px;
    left: -7px;
    animation-delay: 0.2s;
}

.arro:nth-child(3) {
    top: 0;
    left: 0;
    animation-delay: 0.4s;
}

.arro:nth-child(4) {
    top: 7px;
    left: 7px;
    animation-delay: 0.6s;
}

.arro:nth-child(5) {
    top: 15px;
    left: 15px;
    animation-delay: 0.8s;
}

.support:hover .arro {
    animation-play-state: paused;
}

@keyframes animate {
    0% {
        border-color: #fff;
        transform: translate(0, 0);
    }

    20% {
        border-color: #fff;
        transform: translate(5px, 5px);

    }

    60%, 100% {
        border-color: rgb(255, 203, 61);
        visibility: hidden;
    }

}

/* chat box end */
/* component 2  **********************************************************/
.anim-color:hover {
    color: var(--hover-color);

}

.anim-scondry-color:hover {
    color: var(--scondry-col);

}

.icon-tab {
    color: var(--main-color);
}

.grid-autofill {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-items: center;
    gap: 20px 10px;
}

.h3-comp {
    display: inline-block;
    padding: 0;
    margin: 10px 0;
    color: #333;
    border: solid .2vw var(--scondry-col);
    padding: 10px 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
}

/* component 2  */

/* special media mobile que  */

@media (min-width:320px) {
    .services p {
        font-size: 4vw;
        margin-top: -5vw;
    }

    .component-h2 {
        font-size: 18vw;
        display: block;
        color: var(--compon-col);
    }

    ::selection {
        background-color: var(--scondry-col);
        color: rgb(31, 31, 31);
    }

    .container .shaps {
        display: none;
    }

    .container {
        width: 300px;
    }

    .header .links ul {
        top: 100px;
    }

    .my-name {
        font-size: 2.5rem;
    }

    .mmdouh::selection,
    .elbanna>.p::selection {
        background-color: var(--scondry-col);
        color: #ffffff;

        text-shadow: none;
    }

    .landing h1+p {
        font-size: 1rem;
    }

    .landing h1 {
        margin-top: 250px;
    }

    .stand {
        height: 3px;
    }

    .card-col3 .image img {
        width: 240px;
    }

    .card-col3 {
        margin-right: 20px;
    }

    .component-h2+p {
        text-align: center;
        font-size: 4vw;
        margin-top: -5vw;
        color: #666;
    }

}

/* Normal media query start  */
@media (min-width:375px) {


    .container {
        width: 365px;
    }

    .header .links ul {
        top: 100px;
    }

    .my-name {
        font-size: 2.8rem;
    }

    .landing h1+p {
        font-size: 1rem;
    }

    .landing h1 {
        margin-top: 250px;
    }
}

@media (min-width:425px) {
    .services p {
        font-size: 3vw;
    }

    .container {
        width: 400px;
    }

    .my-name {
        font-size: 3.2rem;
    }

    .landing h1+p {
        font-size: 1rem;
    }

    .landing h1 {
        margin-top: 250px;
    }

}

@media (min-width:768px) {
    .component-h2+p {
        font-size: 2vw;
        margin-top: -3vw;
        color: #666;
    }

    .component-h2 {
        font-size: 10vw;
        display: block;
        font-weight: 800;
        color: var(--compon-col);
    }

    .container .shaps {
        display: flex;
    }

    .container {
        width: 720px;
    }

    .my-name {
        font-size: 6rem;
    }

    .landing h1 {
        margin-top: 100px;
    }

    .landing h1+p {
        font-size: 1.5rem;
    }

    .stand {
        height: 6px;
    }

    .serv-card h4 {
        font-size: 2.8vw;
    }

    .serv-card h4+p {
        font-size: 2vw;
    }
}

@media (min-width:992px) {
    .container {
        width: 970px;
    }

    .landing h1+p {
        margin-bottom: 4vw;
    }

    .serv-card h4 {
        font-size: 1.7vw;
    }

    .serv-card h4+p {
        font-size: 22px;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }

    .my-name {
        font-size: 7rem;
    }

    .landing h1+p {
        font-size: 1.3rem;
    }

    .serv-card h4 {
        font-size: 1.2vw;
    }

    .serv-card h4+p {
        font-size: 1vw;
    }

    .card-col3 p {
        top: 50px;
        font-size: 1.4vw;
    }


}

@media (min-width:2560px) {
    .container {
        width: 2540x;
    }

    .my-name {
        font-size: 8rem;
    }

    .landing h1+p {
        font-size: 2.1rem;
    }

    .header .skew-righ {
        height: 50px;
    }

    .header .skew-left {
        height: 50px;
    }

    .card-col3 p {
        top: 70px;
        font-size: .9vw;
    }

}

@media (min-width:427px) and (max-width:1199px) {
    .serv-card {
        display: flex;
        flex-flow: wrap;
        min-width: 300px;

    }

    .card-col3 {
        display: none;

    }

    .card-col2, .card-col1 {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;

        flex-flow: column wrap;
    }
}




/* Normal media query end  */