/* fonticon moon  */


/* fonticon moon  End*/
/* custom variables */
:root {

    --anim-cubic: cubic-bezier(0.47, -1.08, 0.57, 2.5);
    --anim-cubic2: cubic-bezier(0.58, -0.23, 0.42, 1.29);
    --main-color: #10cab7;
    --hover-color: rgb(47, 255, 255);
    --celection-color: #ffae00;
    --bg-menues-col: #31313186;
    --compon-col: #d4d4d4;
    --txt-shadow: .009em .008em .02em rgb(1, 43, 43), -.01em -.01em .01em #ffffff;


}

/*start my framework */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center-colum {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.flex-center-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.flex-bet {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*end my framework */

/* Global rules */
/* start my component  */
.component-h {
    font-size: 10vw;
    display: block;
    font-weight: 800;
    color: var(--compon-col);

}

.anim-hov:hover {
    transform: translateY(-.5vw);
    font-size: 2rem;
}



/* end my component  */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: all .4s var(--anim-cubic2);
}

body {

    background-color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-family: 'Tajawal', sans-serif;
    font-family: 'Work Sans', sans-serif;
    font-family: 'Cairo', sans-serif;
}

.container {

    transition: all .3s ease-out;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-around;

}



/* End Global rules */
/* ***************************************** */
/* start heading  */
.header {
    padding: 0;

}


.icon-capo.logo {
    font-size: 150px;
    color: var(--main-color);
    margin-left: -10px;
    transition: .3S var(--anim-cubic);
}


.container .shaps {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    width: max-content;
    justify-content: center;
    align-content: center;
    width: 450px;

}

.container .divs1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 15vw;
}

.container .divs2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 15vw;
}


.skew-righ {

    width: .3vw;
    margin: 0 5px;
    height: 3vw;
    background-color: var(--main-color);
    transform: skewX(20deg);
    transition: .3s ease-in-out;
}

.skew-left {

    width: .3vw;
    margin: 0 5px;
    height: 3vw;
    background-color: var(--celection-color);
    transform: skewX(-20deg);
    transition: .3s ease-in-out;
}

.skew-righ:hover {
    height: 2vw;
}

.skew-left:hover {
    height: 2vw;
}

.header .links {
    position: relative;
}

.header .links .icon {
    display: flex;
    flex-flow: wrap;
    width: 70px;
    justify-content: end;

}

.header .links .icon span {
    background-color: var(--main-color);
    height: 8px;
    margin-bottom: 15px;
    width: 100%;
    border-radius: 10px;

}

.header .links .icon span:nth-child(2) {
    width: 80%;
    transition: .4s var(--anim-cubic);
}

.header .links .icon span:last-child {
    margin-bottom: 0px;
}

.header .links:hover span:nth-child(2) {
    width: 100%;
    background: var(--celection-color);
}

.header .links ul {

    position: absolute;
    right: 0px;
    margin: 0px;
    background-color: var(--bg-menues-col);
    padding: 0px;
    top: calc(100% + 20px);
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    transition: all 1s var(--anim-cubic);
    z-index: 1;
    display: none;


}

.header .links:hover ul {
    display: block;
}

.header .links ul li {
    list-style: none;
    font-size: 30px;
    letter-spacing: 5px;
    min-width: 250px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.header .links ul li a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: var(--main-color);
    transition: .6s var(--anim-cubic);
}

.header .links ul li a:hover {
    padding-left: 35px;
    color: rgb(47, 255, 255);
}

.header .links ul li:not(:last-child) {
    border-bottom: solid 2px rgb(255, 255, 255);
}

.header .links ul::before {
    content: "";
    border: 30px solid;
    position: absolute;
    border-color: transparent transparent var(--bg-menues-col) transparent;
    right: 0px;
    top: -60px;

}

.header .links ul li {
    position: relative;
}

.header .links ul li a::before {
    content: "";
    display: block;
    position: absolute;
    background-color: orange;
    width: 5px;
    height: 50%;
    left: 6px;
    top: 25%;
    border-radius: 10px;

}


/* End heading  */
/* start landing page  */


.landing {

    box-shadow:
        inset 0px 8px 0px var(--main-color),
        inset 0px 12px 10px rgba(0, 0, 0, 0.423),
        inset 0px 20px 0px var(--celection-color),
        inset 0px 100px 300px rgb(0, 0, 0);
    height: 120vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;

}

.landing .img {
    position: absolute;
    height: 100%;
    z-index: -1;
    background-size: cover;
    animation: alternate-reverse ease-in-out 40s scal infinite;
}

@keyframes scal {
    to {
        transform: scale(1.5) rotate(3deg);
    }
}

h1 {

    display: block;
    font-size: 4vw;
    text-align: center;
    font-weight: 900;
    color: var(--celection-color);
    font-family: 'Roboto', sans-serif;
    top: 50%;
    letter-spacing: 2px;
    text-shadow: var(--txt-shadow);
    background: rgba(254, 254, 254, 0.33);
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 0 10vw 3vw;
}

.my-name {
    color: var(--main-color);
    font-size: 4rem;
    text-shadow: var(--txt-shadow);
    flex-wrap: wrap;
    margin: 20px 30px;

}

.my-name+span {
    display: block;
    border-bottom: var(--main-color) double 2vw;
}

.landing h1+p {
    text-align: center;
    line-height: 2;
    color: rgb(33, 33, 33);
    font-size: 1.2rem;
    font-weight: 400;

    background: rgba(255, 255, 255, 0.414);
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 10px 10px;
    min-width: 200px;
    max-width: 800px;
}

.landing.flex-center>.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* End landing page  .**************************************/

/* start feature page  */
.feature {
    padding: 60px 0;
}

.feature .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-items: center;
    gap: 20px 10px;
}

.feature .container .feat {
    flex-direction: column;
    justify-content: space-evenly;
    width: 300px;
    text-align: center;
}

.fab {
    font-size: 5rem;
    color: var(--main-color);
    transition: all .3s var(--anim-cubic);
}

.fab:hover {
    font-size: 6rem;
    margin-top: -1rem;
    color: var(--hover-color);
}

.feature .container .feat h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    color: #333;
}

.container .feat p {
    font-family: 'Tajawal', sans-serif;
    color: #888;
    line-height: 1.8;
}

/* end feature page  */

/* start live chat  */

/* End live chat  */
/* start services */

.services p {
    font-size: 2vw;
    color: #333;
    margin-top: -2vw;
    text-align: center;
}

.services .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stand {
    background-color: var(--main-color);
    width: 200px;
    height: 8px;
    margin-top: -7vw;
    margin-bottom: 8vw;
    border-radius: 20px;
}

.stand:nth-child(2) {
    width: 80%;
}

.stand:nth-child(3) {
    width: 60%;
}

.stand:nth-child(4) {
    width: 40%;
}

.stand:nth-child(5) {
    width: 20%;
}

.stand:nth-child(6) {
    width: 4%;
}

/* end services */
/* component 2  */
.anim-color:hover {
    color: var(--hover-color);

}

.anim-scondry-color:hover {
    color: var(--celection-color);

}

.icon-tab {
    color: var(--main-color);
}

/* component 2  */
/* special media mobile que  */

@media (min-width:320px) {
    .services p {
        font-size: 4vw;
        margin-top: -2vw;
    }

    .component-h {
        font-size: 18vw;
        display: block;
        color: var(--compon-col);
    }

    ::selection {
        background-color: var(--celection-color);
        color: rgb(31, 31, 31);
    }

    .container .shaps {
        display: none;
    }

    .container {
        width: 300px;
    }

    .header .links ul {
        top: 100px;
    }

    .my-name {
        font-size: 2.5rem;
    }

    .mmdouh::selection,
    .elbanna>.p::selection {
        background-color: var(--celection-color);
        color: #ffffff;

        text-shadow: none;
    }

    .landing h1+p {
        font-size: 1rem;
    }

    .landing h1 {
        margin-top: 250px;
    }

}



/* Normal media query start  */
@media (min-width:375px) {


    .container {
        width: 365px;
    }

    .header .links ul {
        top: 100px;
    }

    .my-name {
        font-size: 2.8rem;
    }

    .landing h1+p {
        font-size: 1rem;
    }

    .landing h1 {
        margin-top: 250px;
    }
}

@media (min-width:425px) {
    .services p {
        font-size: 3vw;
    }

    .container {
        width: 400px;
    }

    .my-name {
        font-size: 3.2rem;
    }

    .landing h1+p {
        font-size: 1rem;
    }

    .landing h1 {
        margin-top: 250px;
    }

}

@media (min-width:768px) {
    .services p {
        font-size: 2vw;
    }

    .component-h {
        font-size: 10vw;
        display: block;
        font-weight: 800;
        color: var(--compon-col);
    }

    .container .shaps {
        display: flex;
    }

    .container {
        width: 720px;
    }

    .my-name {
        font-size: 7rem;
    }

    .landing h1 {
        margin-top: 100px;
    }

    .landing h1+p {
        font-size: 1.3rem;
    }
}

@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }

    .my-name {
        font-size: 8rem;
    }

    .landing h1+p {
        font-size: 1.3rem;
    }
}

@media (min-width:2560px) {
    .container {
        width: 2540x;
    }

    .my-name {
        font-size: 8rem;
    }

    .landing h1+p {
        font-size: 2.1rem;
    }

    .header .skew-righ {
        height: 50px;
    }

    .header .skew-left {
        height: 50px;
    }

}



/* Normal media query end  */